#BIOPLATE.CST
#Defines cell primitives

#required functions
#void update() : internal calculation stage
#void connect() : forward link to target
#void fire() : action potential/ output stage
#void receive(float weight, transmitter signal) : signal input stage
#void init() : constructor
#void dstr() : destructor

#required members (defined by system, do not define manually)
#charge : internal ionization
#signal : default sent transmitters
#filter : transmitters to accept
#targets: cell id's to target (via binary tree, id's assigned
#randomly to increase uniformity)

#declare library dependencies
#compiler may eventually auto-import dependencies
#.h is implicit
>>stdio
>>math
>>stdlib

&declare CELL interneuron
#implement required functions
@update : void
	printf("Update test\n");
@connect : void
	printf("Connect test\n");
@fire : void
	printf("Fire test\n");
@receive : void
	printf("Receive test\n");
&end#end CELL declaration

#16 available transmitter slots
#default names are TRNS_xx, where xx is the transmitter id from 1-16
# '^' character sets an alias for an already defined type
$TRNS_01 ^ ION_POS_HI
$TRNS_02 ^ ION_POS_MED
$TRNS_03 ^ ION_POS_LOW
$TRNS_04 ^ ION_NEG_HI
$TRNS_05 ^ ION_NEG_MED
$TRNS_06 ^ ION_NEG_LOW




